@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(1, 1, 1);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: white;
  overflow-x: hidden;
}

.title-text{
  color: #FFE5C5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.552);
}

/* styles/globals.css */
canvas {
  width: 100%;
  max-width: 800px;
}


@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}
